@import '../css/reset.css';
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background: $white;
    font-family: $font-primary;
    font-weight: normal;
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $white;
    font-weight: normal;
}

img {
    max-width: 100%;
}
