.container {
    width: 100%;
    min-width: 320px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    transform: skew(0deg, 10deg);
    @include min-screen($bp-xl) {
        width: 1280px;
        padding-left: 0;
        padding-right: 0;
    }
    &--header {
        transform: skew(0deg, -10deg);
    }
}
