.loader {
    animation: spin 1s linear infinite;
    border: 3px solid $light-gray;
    border-top: 3px solid $blue;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    &__wrapper {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $white;
        z-index: 993;
        align-items: center;
        justify-content: center;
        display: none;
        &--active {
            display: flex;
        }
    }
}

@keyframes spin {
    to {
        border-top-color: #ec407a;
        transform: rotate(360deg);
    }
}
