.nav {
    display: flex;
    align-items: center;
    &__list {
        display: flex;
    }
    &__link {
        display: block;
        padding: 20px;
        font-size: 14px;
        color: $white;
        opacity: 0.65;
        transition: all 0.3s ease-in-out;
        &:last-of-type {
            @include min-screen($bp-l) {
                padding-right: 0;
            }
        }
        &:hover,
        &:active {
            opacity: 1;
        }
    }
}
