.search {
    &__icon {
        opacity: 0.65;
        padding: 0 20px;
        cursor: pointer;
        border-right: 1px solid $white;
        transition: all 0.3s ease-in-out;
        &:hover {
            opacity: 1;
            border-color: rgba($color: $white, $alpha: 0.65);
        }
    }
}
