.section {
    background-color: $white;
    padding: 100px 0;
    transform: skew(0deg, -10deg) translateY(-180px);
    opacity: 0;
    &:first-child {
        padding: 350px 0 100px;
    }
    &--first {
        @include min-screen($bp-xl) {
            opacity: 1;
        }
    }
    &--dark {
        background: rgba(46, 174, 251, 1);
        background: linear-gradient(to right, rgba(46, 174, 251, 1) 0%, rgba(59, 129, 229, 1) 43%, rgba(64, 66, 208, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2eaefb', endColorstr='#4042d0', GradientType=1);
    }
    &--white2 {
        background-color: #fafbfd;
    }
    &--text-center {
        text-align: center;
    }
    &__header {
        margin-bottom: 30px;
        &--no-margin {
            margin-bottom: 0;
        }
    }
    &__title {
        color: $white;
        font-size: 26px;
        font-weight: bold;
        line-height: 1.5;
        @include min-screen($bp-s) {
            font-size: 32px;
        }
        @include min-screen($bp-m) {
            font-size: 44px;
        }
        &--dark {
            color: $dark-gray;
        }
    }
    &__content {
        color: $white2;
        font-size: 16px;
        line-height: 1.5;
        @include min-screen($bp-m) {
            font-size: 18px;
            line-height: 1.7;
        }
        &--dark {
            color: rgba($color: $dark-gray, $alpha: 0.55);
        }
    }
}
