.progress {
    display: flex;
    padding: 25px;
    align-items: center;
    background: $white;
    box-shadow: $box-shadow-default;
    border-radius: 4px;
    &:nth-child(2) {
        .progress__bar {
            width: 80%;
        }
    }
    &:first-of-type {
        position: relative;
    }
    &__wrapper {
        background: rgba($color: $black, $alpha: 0.15);
        height: 4px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
        border-radius: 2px;
        width: 60%;
    }
    &__bar {
        width: 20%;
        height: 4px;
        background: $dark-blue;
        position: relative;
        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: $dark-blue;
            right: -12px;
            top: -5px;
        }
        &:nth-child(2) {
            width: 80%;
        }
        &:nth-of-type(2) {
            width: 80%;
        }
    }
    &__info {
        width: 40%;
        color: $light-gray2;
    }
    &__info-number {
        width: 40%;
        color: $dark-gray;
        margin-top: 10px;
        display: block;
        font-weight: bold;
        letter-spacing: 1.2px;
    }
}
